* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0));
}

.header__logo img {
  width: 100px;
}

.header__nav {
  display: flex;
}

.header__navLink {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.2rem;
}

.header__navLink:hover {
  color: #e50914;
}

.header__profile {
  display: flex;
  align-items: center;
}

.header__profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__profileName {
  color: #fff;
  font-size: 1rem;
}

.panels {
  display: flex;
  flex-direction: initial;
}

.footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: relative;
  bottom: 0;
}

.movie-recommendation {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #111;
  color: #fff;
  padding: 10px;
  width: calc(20% - 20px); /* 5 films in a row */
}

.movie-recommendation__image {
  width: 100%;
  height: auto;
}

.movie-recommendation__details {
  padding: 10px;
}

.movie-recommendation__details h3 {
  margin: 0;
  font-size: 1.5rem;
}

.movie-recommendation__details p {
  margin: 5px 0 0;
  font-size: 1rem;
}

.main-content {
  flex: 1;
  position: relative;
}

.main-content__video {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.main-content__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content__video.hidden {
  display: none;
}

.main-content__image img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.mute-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.main-content__recommendations {
  margin-top: 20px;
}

.recommendations__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-row {
  width: 100%;
  margin-bottom: 20px;
}

.movie-row h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.movie-row__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.play, .more-info {
  position: absolute;
  bottom: 50%; /* Positions buttons at the vertical center */
  right: 50%; /* Positions buttons at the horizontal center */
  transform: translate(50%, 50%); /* Corrects position to center */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.logo{
  background: transparent;
}
