.users-container {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 1000px;
    height: 700px;
    justify-content: center;
  }
  .main{
    background-color: rgb(29, 12, 22);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    margin-top: 20px;
  }
  
  .profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 50px;
  }
  
  .profile {
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
  }

  .profile-button {
    font-size: 30px;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  
  .profile-name {
    margin-top: 10px;
  }
  
  .add-profile img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    opacity: 0.5;
  }
  
  .add-profile:hover img {
    opacity: 1;
  }
  
  .profile-management {
    margin-top: 20px;
  }

  .delete-button {
    padding: 0 5px;
  }

  .add-profile-container {
    display: flex;
    align-items: center;
  }
  
  .add-profile-icon {
    font-size: 5rem;
    
  }
  
  .add-profile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }